# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
*.properties
*.gradle
*.bat
gradle
gradlew
.gradle

# other
eclipse
classes
.vscode
run
